@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: FuturaBookC; src: url("fonts/FuturaBookC.eot"); src: url("fonts/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaBookC.woff2") format("woff2"), url("fonts/FuturaBookC.woff") format("woff"), url("fonts/FuturaBookC.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: FuturaBookCItalic; src: url("fonts/FuturaBookCItalic.eot"); src: url("fonts/FuturaBookCItalic.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaBookCItalic.woff2") format("woff2"), url("fonts/FuturaBookCItalic.woff") format("woff"), url("fonts/FuturaBookCItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: FuturaDemiC; src: url("fonts/FuturaDemiC.eot"); src: url("fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaDemiC.woff2") format("woff2"), url("fonts/FuturaDemiC.woff") format("woff"), url("fonts/FuturaDemiC.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: FuturaDemiCItalic; src: url("fonts/FuturaDemiCItalic.eot"); src: url("fonts/FuturaDemiCItalic.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaDemiCItalic.woff2") format("woff2"), url("fonts/FuturaDemiCItalic.woff") format("woff"), url("fonts/FuturaDemiCItalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: KelsonSansBoldRU; src: url("fonts/KelsonSansBoldRU.eot"); src: url("fonts/KelsonSansBoldRU.eot?#iefix") format("embedded-opentype"), url("fonts/KelsonSansBoldRU.woff2") format("woff2"), url("fonts/KelsonSansBoldRU.woff") format("woff"), url("fonts/KelsonSansBoldRU.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: KelsonSansLightRU; src: url("fonts/KelsonSansLightRU.eot"); src: url("fonts/KelsonSansLightRU.eot?#iefix") format("embedded-opentype"), url("fonts/KelsonSansLightRU.woff2") format("woff2"), url("fonts/KelsonSansLightRU.woff") format("woff"), url("fonts/KelsonSansLightRU.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: KelsonSansRegularRU; src: url("fonts/KelsonSansRegularRU.eot"); src: url("fonts/KelsonSansRegularRU.eot?#iefix") format("embedded-opentype"), url("fonts/KelsonSansRegularRU.woff2") format("woff2"), url("fonts/KelsonSansRegularRU.woff") format("woff"), url("fonts/KelsonSansRegularRU.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "FuturaBookC", sans-serif; font-size: 16px; color: #171717; line-height: 1.4; }

.l-center { max-width: 1000px; margin: 0 auto; padding: 0 20px; }
.l-center.l-center_wide { padding: 0; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.h1 { font-size: 48px; text-transform: uppercase; color: #fff; font-family: "KelsonSansBoldRU", sans-serif; text-align: center; }

.h2 { font-size: 30px; font-family: "KelsonSansBoldRU", sans-serif; color: #000; text-transform: uppercase; text-align: center; }
.h2.h2_white { color: #fff; }
.h2.h2_left { text-align: left; }

.btn { position: relative; display: inline-block; width: 428px; height: 70px; line-height: 70px; background: #09c5fb; text-align: center; font-family: "FuturaDemiC", sans-serif; font-size: 14px; text-transform: uppercase; text-decoration: none; color: #fff; z-index: 1; }
.btn:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0; background: #04b4e7; -moz-transition: height 300ms; -o-transition: height 300ms; -webkit-transition: height 300ms; transition: height 300ms; z-index: -1; }
.btn:hover:after { height: 100%; }

[class*='-ico'] { position: relative; display: inline-block; vertical-align: middle; }

.vk-ico { background: url('../img/icons-s8be65cfbb9.png') 0 -384px no-repeat; width: 11px; height: 13px; }
.vk-ico:after { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -338px no-repeat; width: 11px; height: 13px; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.vk-ico:hover:after { opacity: 1; }

.fb-ico { background: url('../img/icons-s8be65cfbb9.png') 0 -80px no-repeat; width: 8px; height: 15px; }
.fb-ico:after { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -30px no-repeat; width: 8px; height: 15px; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.fb-ico:hover:after { opacity: 1; }

.tw-ico { background: url('../img/icons-s8be65cfbb9.png') 0 -265px no-repeat; width: 16px; height: 13px; }
.tw-ico:after { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -219px no-repeat; width: 16px; height: 13px; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.tw-ico:hover:after { opacity: 1; }

.top-line { position: relative; }
.top-line:after { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 1px; background: #fff; opacity: 0; -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -webkit-transform: translateY(-10px); transform: translateY(-10px); -moz-transition: -moz-transform 300ms, opacity 300ms; -o-transition: -o-transform 300ms, opacity 300ms; -webkit-transition: -webkit-transform 300ms, opacity 300ms; transition: transform 300ms, opacity 300ms; }
.top-line:hover:after { opacity: 1; -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }
.top-line.is-active:after { display: none; }

.replace { position: relative; overflow: hidden; padding: 2px 0; }
.replace span { display: inline-block; -moz-transition: -moz-transform 300ms; -o-transition: -o-transform 300ms; -webkit-transition: -webkit-transform 300ms; transition: transform 300ms; }
.replace span:before { content: attr(data-hover); position: absolute; top: 100%; }
.replace:hover span { -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -webkit-transform: translateY(-100%); transform: translateY(-100%); }

.more { position: absolute; top: 50%; left: 0; font-family: "FuturaDemiCItalic", sans-serif; color: #000; text-transform: uppercase; font-size: 11px; text-decoration: none; -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
.more span:before { color: #09c5fb; }
.more.more_left { left: auto; right: 0; }

.l-cols-wrap { *zoom: 1; }
.l-cols-wrap:after { content: " "; display: table; clear: both; }

.l-col { float: right; width: 50%; padding: 20px 0 20px 40px; }
.l-col:first-child { float: left; padding: 20px 40px 20px 0; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 30px; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button:before, .slick-dots li.is-active button:before { color: #fff; }
.slick-dots button { display: block; background: none; cursor: default; font: 0/0 a; text-shadow: none; color: transparent; }
.slick-dots button:before { content: "."; display: inline-block; font-size: 20px; color: rgba(255, 255, 255, 0.2); }
.parthners .slick-dots { top: -45px; bottom: auto; }
.parthners .slick-dots li.slick-active button, .parthners .slick-dots li.is-active button { background: #000; }
.parthners .slick-dots button { width: 4px; height: 4px; border-radius: 50%; background: #dfdfdf; }
.parthners .slick-dots button:before { display: none; }

.header { position: relative; }
.header__in { padding: 180px 0 70px; background-repeat: no-repeat; background-size: cover; background-position: 50% 0%; }

.subtitle { text-align: center; font-size: 14px; text-transform: uppercase; color: #fff; font-family: "FuturaDemiC", sans-serif; }

.topper { position: absolute; top: 0; left: 0; right: 0; height: 135px; z-index: 2; }

.logo { float: left; font-size: 0; padding-top: 23px; }
.logo a { display: inline-block; background: url('../img/icons-s8be65cfbb9.png') 0 -105px no-repeat; width: 148px; height: 44px; }

.top-menu, .lang { float: right; height: 85px; text-align: center; font-size: 0; }
.top-menu:before, .lang:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.top-menu li, .lang li { display: inline-block; vertical-align: middle; margin-left: 22px; }
.top-menu li a, .lang li a { display: inline-block; padding: 5px 0; text-decoration: none; font-family: "FuturaDemiC", sans-serif; color: #fff; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; transition: color 300ms; text-transform: uppercase; font-size: 11px; }
.top-menu li a.is-active, .lang li a.is-active { color: #fbdc09; }

.lang { position: relative; margin-left: 22px; }
.lang:after { content: ""; position: absolute; top: 31px; bottom: 31px; left: 0; width: 1px; background: #7e7d7e; }
.lang li a.is-active { color: #09c5fb; }

.menu ul { *zoom: 1; }
.menu ul:after { content: " "; display: table; clear: both; }
.menu ul li { position: relative; float: left; width: 16.1%; height: 50px; margin-right: 1px; text-align: center; }
.menu ul li:before { content: ""; position: absolute; top: 0; bottom: 0; right: -1px; width: 1px; background: #464344; }
.menu ul li a { display: block; position: relative; height: 50px; line-height: 50px; font-family: "FuturaDemiC", sans-serif; text-decoration: none; text-transform: uppercase; background: #fff; font-size: 11px; color: #000; -moz-transition: all 300ms; -o-transition: all 300ms; -webkit-transition: all 300ms; transition: all 300ms; z-index: 1; }
.menu ul li a:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0; background: #000; -moz-transition: height 300ms; -o-transition: height 300ms; -webkit-transition: height 300ms; transition: height 300ms; z-index: -1; }
.menu ul li a:before { content: ""; position: absolute; top: 0; bottom: 0; right: 0; left: 0; border: 1px solid #fff; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.menu ul li a:hover { color: #fff; }
.menu ul li a:hover:after { height: 100%; }
.menu ul li a:hover:before { opacity: 1; }
.menu ul li a.is-active { background: #202020; color: #fff; }
.menu ul li.login { width: 18.7%; }
.menu ul li.login:before { display: none; }
.menu ul li.login a { background: #fbdc09; }
.menu ul li.login a:before { border-color: #fbdc09; }
.menu ul li.login a:hover { color: #fbdc09; }
.menu ul li.login a.is-active { background: #000; color: #fff; }

.slider { position: relative; }
.slider__img { font-size: 0; }
.slider__img img { width: 100%; height: auto; }
.slider__in { position: absolute; top: 135px; bottom: 0; right: 0; left: 0; text-align: center; font-size: 0; z-index: 2; }
.slider__in:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.m-news-list { display: inline-block; vertical-align: middle; text-align: center; }

div.m-news { padding: 0; }
div.m-news:hover { color: #fff; }
div.m-news:hover:after { height: 0; }

.m-news { position: relative; display: inline-block; vertical-align: middle; width: 454px; height: 280px; margin: 0 22px; padding: 50px 30px 30px; font-size: 12px; text-decoration: none; color: #fff; -moz-transition: color 300ms, background 300ms; -o-transition: color 300ms, background 300ms; -webkit-transition: color 300ms, background 300ms; transition: color 300ms, background 300ms; z-index: 1; }
.m-news:before { content: ""; position: absolute; top: 0; bottom: 0; left: -22px; width: 1px; background: #7d7471; }
.m-news:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0; background: #FFF; z-index: -1; -moz-transition: height 300ms; -o-transition: height 300ms; -webkit-transition: height 300ms; transition: height 300ms; }
.m-news:hover { color: #000; }
.m-news:hover:after { height: 100%; }
.m-news:first-child:before { display: none; }
.m-news > .m-news { height: 140px; padding-top: 30px; margin: 0; border-top: 1px solid #7d7471; }
.m-news > .m-news:before { display: none; }
.m-news > .m-news:first-child { border-top: none; }
.m-news > .m-news .m-news__title { font-size: 22px; }
.m-news__progress { position: absolute; top: 5px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); font-size: 0; }
.m-news__progress li { display: inline-block; vertical-align: middle; margin: 0 3px; width: 4px; height: 4px; border-radius: 50%; background: #7c787b; }
.m-news__progress li.is-active { background: #fff; }
.m-news__title { margin-bottom: 10px; font-size: 30px; font-family: "KelsonSansBoldRU", sans-serif; text-transform: uppercase; }
.m-news__hint { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; }

.events { position: relative; padding: 59px 0 46px; }
.events__list { font-size: 0; }
.events__item { display: inline-block; vertical-align: top; width: 33.3%; border-left: 1px solid #e6e6e7; }
.events__item:first-child { border-left: none; }
.events__item > a { position: relative; display: block; padding: 25px 30px; text-decoration: none; text-align: center; text-transform: uppercase; -moz-transition: background 300ms; -o-transition: background 300ms; -webkit-transition: background 300ms; transition: background 300ms; z-index: 1; }
.events__item > a:after { content: ""; position: absolute; left: 50%; top: 50%; height: 100%; width: 0; opacity: 0; background: #09c5fb; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -moz-transition: all 300ms; -o-transition: all 300ms; -webkit-transition: all 300ms; transition: all 300ms; will-change: transform; z-index: -1; }
.events__item > a:hover:after { opacity: 1; width: 100%; }
.events__item > a:hover .events__title { color: #fff; }
.events__item > a:hover .events__date { color: #fff; }
.events__title { margin-bottom: 15px; font-family: "KelsonSansBoldRU", sans-serif; font-size: 22px; color: #000; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; transition: color 300ms; }
.events__date { font-family: "FuturaDemiCItalic", sans-serif; color: #09c5fb; font-size: 11px; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; transition: color 300ms; }

.dates { position: relative; padding: 45px 0 65px; background: url(../img/bg-pattern.jpg); }
.dates__in { margin-bottom: 15px; }
.dates .h2 { margin-bottom: 15px; }

.categories { margin-bottom: 35px; font-size: 0; text-align: center; }
.categories li { position: relative; display: inline-block; vertical-align: middle; padding: 15px 0; margin: 0 4.2%; }
.categories li:before { content: ""; position: absolute; top: 50%; left: -40px; width: 4px; height: 4px; margin-top: -2px; border-radius: 50%; background: #0e0e0e; }
.categories li:first-child:before { display: none; }
.categories li.is-active { border: 1px solid #0e0e0e; border-width: 1px 0; }
.categories li.is-active a:before { content: ""; position: absolute; top: -15px; left: 0; width: 100%; height: 1px; background: #000; z-index: 1; }
.categories li.is-active a:after { content: ""; position: absolute; bottom: -15px; left: 0; width: 100%; height: 1px; background: #000; z-index: 1; }
.categories li a { position: relative; display: inline-block; font-family: "FuturaDemiCItalic", sans-serif; font-size: 11px; text-transform: uppercase; text-decoration: none; color: #0e0e0e; }
.categories li a span:before { color: #fff; }

.schedule { position: relative; font-size: 0; text-align: center; }
.schedule:before { content: ""; position: absolute; top: 35px; left: 0; right: 0; height: 3px; background: url(../img/points.png) repeat-x; }
.schedule__item { width: 25%; display: inline-block; vertical-align: top; text-align: center; }
.schedule__item.is-current .schedule__date-in { border-color: #000; background: #000; color: #fff; }
.schedule__item.is-passed .schedule__date-in { border-color: #fff; }
.schedule__item.is-passed .schedule__title span:before { content: ""; position: absolute; top: 50%; left: -16px; right: -16px; margin-top: -1px; height: 1px; background: #fff; }
.schedule__date { position: relative; display: inline-block; margin-bottom: 18px; padding: 0 25px; background: url(../img/bg-pattern.jpg); z-index: 2; }
.schedule__date-in { width: 72px; height: 72px; line-height: 72px; border-radius: 50%; border: 1px solid #000; text-align: center; font-size: 11px; font-family: "FuturaDemiCItalic", sans-serif; color: #000; }
.schedule__title { font-family: "KelsonSansBoldRU", sans-serif; font-size: 16px; text-transform: uppercase; color: #212346; }
.schedule__title span { position: relative; display: inline-block; }

.m-articles { position: relative; padding: 65px 0; }

.m-about { float: left; width: 66.6%; padding-right: 5%; }
.m-about .h2 { margin-bottom: 30px; }

.m-posts { float: left; width: 33.4%; padding: 13px 0 0; }
.m-posts__item { display: inline-block; margin-top: 25px; text-decoration: none; color: #171717; }
.m-posts__item:first-child { margin-top: 0; }
.m-posts__date { margin-bottom: 15px; font-family: "FuturaDemiCItalic", sans-serif; text-transform: uppercase; font-size: 11px; color: #09c5fb; }

.directions { padding: 50px 0 75px; background: url(../img/img1.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.directions .h2 { margin-bottom: 10px; }
.directions__subtitle { margin-bottom: 50px; text-align: center; color: #a2a0a0; }
.directions__list { *zoom: 1; }
.directions__list:after { content: " "; display: table; clear: both; }
.directions__list li { float: left; width: 25%; height: 125px; border-right: 1px solid #928e8c; text-align: center; }
.directions__list li:first-child { border-left: 1px solid #928e8c; }
.directions__list li a { position: relative; display: block; height: 125px; text-align: center; font-size: 0; text-transform: uppercase; font-family: "KelsonSansBoldRU", sans-serif; color: #fff; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; transition: color 300ms; z-index: 1; }
.directions__list li a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.directions__list li a span { display: inline-block; vertical-align: middle; font-size: 16px; }
.directions__list li a:after { content: ""; position: absolute; left: 50%; top: 50%; height: 100%; width: 0; opacity: 0; background: #fff; -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -moz-transition: all 300ms; -o-transition: all 300ms; -webkit-transition: all 300ms; transition: all 300ms; will-change: transform; z-index: -1; }
.directions__list li a:hover { color: #000; }
.directions__list li a:hover:after { opacity: 1; width: 100%; }

.parthners { position: relative; padding: 70px 0 25px; }
.parthners .h2 { margin-bottom: 55px; }
.parthners__slider { position: relative; margin-bottom: 25px; }
.parthners__pager { position: absolute; top: -40px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); font-size: 0; }
.parthners__pager li { display: inline-block; vertical-align: middle; width: 4px; height: 4px; margin: 0 2px; border-radius: 50%; background: #dfdfdf; cursor: pointer; }
.parthners__pager li.is-active { background: #000; }
.parthners__list { position: relative; }
.parthners__item { display: table; width: 100%; border-collapse: collapse; }
.parthners__row { display: table-row; width: 100%; }
.parthners__logo { display: table-cell; width: 16.6%; height: 109px; vertical-align: middle; text-align: center; border: 1px solid #e2e2e2; }
.parthners__logo img { display: inline-block !important; }
.parthners__more { text-align: center; }
.parthners__more a { display: inline-block; padding: 5px 0; font-family: "FuturaDemiC", sans-serif; text-transform: uppercase; text-decoration: none; color: #09c5fb; font-size: 11px; }
.parthners__more a:after { background: #09c5fb; }

.share { padding: 45px 0; background: #000; }
.share .h2 { margin-bottom: 30px; }

.socials { text-align: center; font-size: 0; }

.vkcom, .facebook, .twitter, .subscribe { display: inline-block; vertical-align: middle; }

.vkcom, .facebook, .twitter { width: 56px; height: 56px; margin: 0 9px; text-align: center; font-size: 0; border-radius: 50%; text-align: center; border: 1px solid #727272; -moz-transition: background 300ms, border-color 300ms; -o-transition: background 300ms, border-color 300ms; -webkit-transition: background 300ms, border-color 300ms; transition: background 300ms, border-color 300ms; }
.vkcom:before, .facebook:before, .twitter:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.vkcom:hover, .facebook:hover, .twitter:hover { background: #fff; border-color: #fff; }
.vkcom i, .facebook i, .twitter i { position: relative; display: inline-block; vertical-align: middle; }
.vkcom i:after, .facebook i:after, .twitter i:after { content: ""; position: absolute; top: 0; left: 0; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; z-index: 1; }

.vkcom i { background: url('../img/icons-s8be65cfbb9.png') 0 -384px no-repeat; width: 11px; height: 13px; }
.vkcom i:after { background: url('../img/icons-s8be65cfbb9.png') 0 -361px no-repeat; width: 11px; height: 13px; }
.vkcom:hover i:after { opacity: 1; }

.facebook i { background: url('../img/icons-s8be65cfbb9.png') 0 -80px no-repeat; width: 8px; height: 15px; }
.facebook i:after { background: url('../img/icons-s8be65cfbb9.png') 0 -55px no-repeat; width: 8px; height: 15px; }
.facebook:hover i:after { opacity: 1; }

.twitter i { background: url('../img/icons-s8be65cfbb9.png') 0 -265px no-repeat; width: 16px; height: 13px; }
.twitter i:after { background: url('../img/icons-s8be65cfbb9.png') 0 -242px no-repeat; width: 16px; height: 13px; }
.twitter:hover i:after { opacity: 1; }

.subscribe { position: relative; margin-left: 37px; }
.subscribe input[type="text"] { width: 380px; height: 42px; padding-right: 25px; background: transparent; font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.subscribe input[type="text"]:-ms-input-placeholder { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.subscribe input[type="text"]:-moz-placeholder { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.subscribe input[type="text"]::-moz-placeholder { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.subscribe input[type="text"]::-webkit-input-placeholder { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.subscribe input[type="text"]::placeholder { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.subscribe input[type="text"]:focus:-ms-input-placeholder { font-size: 0; }
.subscribe input[type="text"]:focus:-moz-placeholder { font-size: 0; }
.subscribe input[type="text"]:focus::-moz-placeholder { font-size: 0; }
.subscribe input[type="text"]:focus::-webkit-input-placeholder { font-size: 0; }
.subscribe input[type="text"]:focus::placeholder { font-size: 0; }

.submit { position: absolute; top: 8px; right: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -189px no-repeat; width: 20px; height: 20px; z-index: 2; }
.submit:after { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -159px no-repeat; width: 20px; height: 20px; z-index: 2; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.submit:hover:after { opacity: 1; }

.progressbar { position: relative; height: 1px; }
.progressbar__line { height: 1px; background: #fff; }
.progressbar__progress { position: absolute; top: 0; left: 0; width: 0; height: 1px; background: #fbdc09; z-index: 2; }

.footer { font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; }

.copyrights { float: left; padding: 22px 0; }

.design { float: right; font-size: 0; padding: 22px 0; }
.design span, .design a { display: inline-block; vertical-align: middle; font-size: 11px; }

.vintage { position: relative; margin-left: 18px; width: 70px; height: 15px; }
.vintage:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -313px no-repeat; width: 70px; height: 15px; opacity: 1; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; z-index: 1; }
.vintage:after { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s8be65cfbb9.png') 0 -288px no-repeat; width: 70px; height: 15px; opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; z-index: 1; }
.vintage:hover:before { opacity: 0; }
.vintage:hover:after { opacity: 1; }

.cabinet .h1 { margin-bottom: 5px; }
.cabinet__results { font-size: 0; text-align: center; }
.cabinet__results span, .cabinet__results a { display: inline-block; vertical-align: middle; font-family: "FuturaDemiC", sans-serif; font-size: 11px; text-transform: uppercase; color: #fff; }
.cabinet__results a { text-decoration: none; color: #09c5fb; margin: 0 15px; }

.test { padding: 45px 0; text-align: center; }

.judge { padding: 70px 0 75px; border-top: 1px solid #e2e2e2; }
.judge .h2 { margin-bottom: 20px; }
.judge__about { margin-bottom: 45px; text-align: center; }
.judge__list { font-size: 0; }
.judge__item { display: inline-block; vertical-align: top; width: 25%; text-align: center; font-family: "FuturaDemiCItalic", sans-serif; }
.judge__photo { position: relative; display: inline-block; width: 150px; height: 150px; margin-bottom: 32px; border-radius: 50%; overflow: hidden; font-size: 0; }
.judge__photo img { border-radius: 50%; }
.judge__name { margin-bottom: 3px; font-size: 11px; text-transform: uppercase; }
.judge__info a, .judge__info p { font-size: 11px; text-decoration: none; color: #09c5fb; text-transform: uppercase; }

.text { padding: 10px 0 20px; }
.text .h2 { margin-bottom: 24px; }
.text + .info { margin-top: 0; }

.info-box { padding: 30px; text-align: center; color: #fff; background: #4cd1fc; font-size: 16px; color: #fff; font-family: "FuturaDemiC", sans-serif; line-height: 1.5; text-transform: uppercase; }

.info { margin: 30px auto; max-width: 370px; font-size: 11px; text-transform: uppercase; font-family: "FuturaDemiCItalic", sans-serif; text-align: center; letter-spacing: 1px; }
.info span { display: inline-block; margin-right: 35px; }
.info a { color: #09c5fb; text-decoration: none; }
.info li { white-space: nowrap; margin-bottom: 5px; }
.info li div { display: inline-block; vertical-align: top; white-space: normal; text-align: left; }
.info li span { vertical-align: top; }

.info_width { margin: 15px 0; max-width: 100%; text-align: left; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.slick { position: relative; }

.soc { padding: 37px 0; text-align: center; font-size: 0; }
.soc span { margin-right: 15px; font-size: 11px; text-transform: uppercase; font-family: "FuturaDemiC", sans-serif; color: #171717; }
.soc a, .soc span { display: inline-block; vertical-align: middle; }
.soc a { margin-left: 20px; width: 56px; height: 56px; text-align: center; line-height: 56px; -webkit-border-radius: 50%; border-radius: 50%; border: 1px solid rgba(20, 20, 20, 0.4); -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.soc a:hover { background: #000; }
.soc a:hover i:before { opacity: 1; }
.soc i { position: relative; display: inline-block; vertical-align: middle; }
.soc i:before { content: ""; position: absolute; left: 0; top: 0; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; will-change: opacity; }
.soc i:before { opacity: 0; }
.soc__vk i { background: url('../img/icons-s8be65cfbb9.png') 0 -361px no-repeat; width: 11px; height: 13px; }
.soc__vk i:before { background: url('../img/icons-s8be65cfbb9.png') 0 -384px no-repeat; width: 11px; height: 13px; }
.soc__fb i { background: url('../img/icons-s8be65cfbb9.png') 0 -55px no-repeat; width: 8px; height: 15px; }
.soc__fb i:before { background: url('../img/icons-s8be65cfbb9.png') 0 -80px no-repeat; width: 8px; height: 15px; }
.soc__tw i { background: url('../img/icons-s8be65cfbb9.png') 0 -242px no-repeat; width: 16px; height: 13px; }
.soc__tw i:before { background: url('../img/icons-s8be65cfbb9.png') 0 -265px no-repeat; width: 16px; height: 13px; }
