// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none

// fonts
+font(FuturaBookC, FuturaBookC)
=fb
	font-family: 'FuturaBookC', sans-serif
+font(FuturaBookCItalic, FuturaBookCItalic)
=fbi
	font-family: 'FuturaBookCItalic', sans-serif
+font(FuturaDemiC, FuturaDemiC)
=fd
	font-family: 'FuturaDemiC', sans-serif
+font(FuturaDemiCItalic, FuturaDemiCItalic)
=fdi
	font-family: 'FuturaDemiCItalic', sans-serif	
+font(KelsonSansBoldRU, KelsonSansBoldRU)
=ksb
	font-family: 'KelsonSansBoldRU', sans-serif
+font(KelsonSansLightRU, KelsonSansLightRU)
=ksl
	font-family: 'KelsonSansLightRU', sans-serif	
+font(KelsonSansRegularRU, KelsonSansRegularRU)
=ks
	font-family: 'KelsonSansRegularRU', sans-serif

body
	+fb 
	font-size: 16px
	color: #171717 
	line-height: 1.4


// common blocks      













































































































