// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none

// fonts
+font(FuturaBookC, FuturaBookC)
=fb
	font-family: 'FuturaBookC', sans-serif
+font(FuturaBookCItalic, FuturaBookCItalic)
=fbi
	font-family: 'FuturaBookCItalic', sans-serif
+font(FuturaDemiC, FuturaDemiC)
=fd
	font-family: 'FuturaDemiC', sans-serif
+font(FuturaDemiCItalic, FuturaDemiCItalic)
=fdi
	font-family: 'FuturaDemiCItalic', sans-serif	
+font(KelsonSansBoldRU, KelsonSansBoldRU)
=ksb
	font-family: 'KelsonSansBoldRU', sans-serif
+font(KelsonSansLightRU, KelsonSansLightRU)
=ksl
	font-family: 'KelsonSansLightRU', sans-serif	
+font(KelsonSansRegularRU, KelsonSansRegularRU)
=ks
	font-family: 'KelsonSansRegularRU', sans-serif

body
	+fb 
	font-size: 16px
	color: #171717 
	line-height: 1.4	

// vars
$yellow: #fbdc09
$blue: #09c5fb


// common blocks      
.l-center
	max-width: 1000px
	margin: 0 auto
	padding: 0 20px
	&.l-center_wide
		padding: 0
.clr
	+clr

.h2
	font-size: 30px
	+ksb
	color: #000
	text-transform: uppercase
	text-align: center
	&.h2_white
		color: #fff
	&.h2_left
		text-align: left	

// social icons
[class*='-ico']
	position: relative
	display: inline-block
	vertical-align: middle
	
.vk-ico
	+s(vk)
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(vk-act)
		opacity: 0
		+tr(opacity 300ms)
	&:hover
		&:after
			opacity: 1 
.fb-ico
	+s(fb)
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(fb-act)
		opacity: 0
		+tr(opacity 300ms)
	&:hover
		&:after
			opacity: 1	
.tw-ico
	+s(tw)
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(tw-act)
		opacity: 0
		+tr(opacity 300ms)
	&:hover
		&:after
			opacity: 1
			
// hover affect for links with top line
.top-line
	position: relative
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 1px
		background: #fff 
		opacity: 0
		+transform(translateY(-10px))
		+transition(transform 300ms, opacity 300ms)
	&:hover
		&:after
			opacity: 1 	  
			+transform(translateY(0))
	&.is-active
		&:after
			display: none
			
// hover effect for links with text replacement
.replace
	position: relative
	overflow: hidden
	padding: 2px 0 
	span
		display: inline-block
		+tr(transform 300ms)
		&:before
			content: attr(data-hover)
			position: absolute
			top: 100%
	&:hover
		span
			+transform(translateY(-100%))									

// more side link
.more
	position: absolute
	top: 50%
	left: 0 
	+fdi
	color: #000
	text-transform: uppercase
	font-size: 11px
	text-decoration: none
	+transform(rotate(-90deg))
	span
		&:before
			color: $blue
	&.more_left
		left: auto
		right: 0









































































































