.yep
	margin: 20px auto 65px 
	text-align: center
	line-height: 2.4
	+fd
	color: #141414
	font-size: 11px 
	text-transform: uppercase
	&__text
		letter-spacing: .1px 
		max-width: 545px
		margin: 0 auto 
	.btn
		margin: 20px 0 
.map
	position: relative
	background: #000 
	&__in
		height: 480px
		opacity: 0.66
		
	&__popup
		padding: 12px 0 
		text-align: center
		text-transform: uppercase
		font-size: 11px
		line-height: 1.7
		+fd
		.h2
			margin-bottom: 5px
	&__tel
		font-size: 22px
		+ksb