.yep
	margin: 20px auto 65px 
	text-align: center
	line-height: 2.4
	+fd
	color: #141414
	font-size: 11px 
	text-transform: uppercase
	&__text
		letter-spacing: .1px 
		max-width: 545px
		margin: 0 auto 
	.btn
		margin: 20px 0 