.l-cols-wrap
	+clr
.l-col
	float: right
	position: relative
	width: 50%
	padding: 20px 0 20px 40px
	+r(768)
		float: none
		padding: 20px 0 
		width: 100%
	&:first-child
		float: left
		padding: 20px 40px 20px 0
		+r(768)
			float: none
			padding: 15px 0 10px
			width: 100%
.l-cols-wrap_border
	.l-col
		&:before
			content: ""
			position: absolute
			top: 36px
			bottom: 36px
			left: -1px
			width: 1px
			background: $border
			+r(768)
				top: 0
				left: -20px
				right: -20px
				width: auto
				height: 1px
		&:first-child
			&:before
				left: auto
				right: 0
				+r(768)
					display: none 