// Normally mainpage styles
.header
	position: relative
	+r(768)
		display: table
		width: 100%
	&__in
		padding: 190px 0 20px
		background-repeat: no-repeat
		background-size: cover
		min-height: 340px
		background-position: 50% 0%
		+r(768)
			padding: 75px 20px 30px 
			display: table-cell
			height: 260px
			vertical-align: middle
.header_index
	+r(768)
		display: block
.subtitle
	text-align: center
	font-size: 14px
	text-transform: uppercase
	color: #fff
	+fd		
.topper
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 135px
	z-index: 2
	+r(768)
		position: fixed
		height: 70px
		z-index: 8
		+tr(background .3s)
		background: rgba(#000,.5) 
	&.has-bg
		+r(768)
			background: #000 
		
.logo
	float: left
	font-size: 0
	height: 85px
	padding-top: 23px 
	a
		display: inline-block
		+s(logo)	
	+r(768)
		padding-top: 12px
		height: auto	
.top-menu, .lang
	float: right
	height: 85px
	+vertical
	+r(768)
		display: none
	li
		display: inline-block
		vertical-align: middle
		margin-left: 22px
		a
			display: inline-block
			padding: 5px 0 
			text-decoration: none
			+fd
			color: #fff
			+tr(color 300ms)
			text-transform: uppercase
			font-size: 11px
			&.is-active
				color: #fbdc09
.lang
	position: relative
	margin-left: 22px
	+r(768)
		display: none
	&:after
		content: ""
		position: absolute
		top: 31px
		bottom: 31px
		left: 0
		width: 1px
		background: #7e7d7e
	li	
		a
			&.is-active
				color: $blue	 						
.menu
	+r(768)
		display: none
	ul
		display: table
		width: 100%
		table-layout: fixed
		li
			position: relative
			display: table-cell
			vertical-align: middle
			height: 50px
			margin-right: 1px
			text-align: center
			&.is-active
				a
					background: #202020
					color: #fff	
					&:after
						background: #202020
					&:before
						display: none
			&:before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				right: -1px
				width: 1px
				z-index: 2
				background: #464344  
			a
				display: block
				position: relative
				height: 50px
				line-height: 50px  
				+fd
				text-decoration: none
				text-transform: uppercase
				//background: #fff 
				font-size: 11px
				color: #000
				+tr(all 300ms)
				z-index: 1
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: 0
					width: 100% 
					height: 100%
					background: #fff
					+tr(height 300ms)
					z-index: -1  
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					right: 0
					left: 0
					border: 1px solid #fff
					opacity: 0 
					+tr(opacity 300ms) 
				&:hover
					color: #fff
					&:after
						height: 0
					&:before
						opacity: 1
				  
			&.login
				width: 18.7%
				&:before
					display: none  
				a
					background: $yellow
					&:before
						border-color: $yellow
					&:hover
						color: #000
					&.is-active
						background: #000
						color: #fff	

.nav-toggle
	display: none
	position: fixed
	right: 20px
	top: 7px
	z-index: 11
	width: 54px
	height: 54px
	border-radius: 50% 
	border: 1px solid rgba(#fff,.4)
	background: none
	+transition(border .3s)
	+r(768)
		display: block
	&:hover
		border-color: #fff 
	&.is-active
		border-color: rgba(#000,.4)
		i
			background: none
			&:before,
			&:after
				background: #000 
				left: 0
				right: 0
			&:before
				+rotate(45)
				top: 0
			&:after
				+rotate(-45)
				bottom: 0
	i
		display: inline-block
		vertical-align: middle
		position: relative 
		width: 27px
		height: 3px
		background: #fff 
		+tr(background .2s)
		&:before,
		&:after
			content: ""
			position: absolute
			left: 5px
			right: 5px
			height: 3px
			background: #fff  
			will-change: transform
			+tr(all .1s)
			
		&:before
			top: -8px
		&:after
			bottom: -8px
.nav
	display: none
	position: fixed
	top: -100%
	right: 0
	left: 0
	z-index: 10
	max-height: 100%
	overflow-y: auto
	background: #fff 
	+tr(top .3s)
	+r(768)
		display: block
	&.is-visible
		top: 0
	.lang
		float: none
		margin: 0
		text-align: left
		+r(768)
			display: block
		li
			margin: 0 22px 0 0
		a
			color: #000
		&:after
			display: none
	&__list
		margin-bottom: 15px
	&__soc
		text-align: center
		margin: 20px 0 30px
		.vk-ico
			+s(vk-blue)
		.tw-ico
			+s(tw-blue)
		.fb-ico
			+s(fb-blue)
		li
			display: inline-block
			vertical-align: middle
		a
			display: block
			width: 40px
			height: 40px
			line-height: 40px
			&:hover
				i
					&:after
						opacity: 1 
.nav__list
	text-align: center
	a
		display: block
		padding: 10px 0 
		font-size: 11px
		text-transform: uppercase
		+fd
		text-decoration: none
		color: #000 
		+transition(color .3s, background .3s)
		&:hover
			background: $blue
			color: #fff  
// slider
.slider
	position: relative
	min-height: 330px
	&__img
		font-size: 0
		img
			width: 100% 			
			height: auto
	&__in
		position: absolute
		top: 135px
		bottom: 0
		right: 0
		left: 0
		+vertical
		z-index: 2
		+r(1024)
			display: none
	&__item
		position: relative
		+r(768)
			min-height: 250px
	&__bg
		font-size: 0
		img
			width: 100%
			+r(768)
				height: 330px
				width: auto
				max-width: 1000%
	&__content
		position: absolute
		top: 135px
		bottom: 0
		right: 0
		left: 0
		+vertical
		display: none
		+r(1024)
			display: block
		+r(768)
			top: 100px
		&:before
			+r(768)
				display: none
		.m-news
			&:hover
				color: #fff
				&:after
					height: 0
			+r(900)
				padding: 30px 30px 0
				height: auto 
				.m-news__title
					font-size: 22px							
.m-news-list
	display: inline-block
	vertical-align: middle
	text-align: center
div.m-news
	padding: 0
	&:hover
		color: #fff
		&:after
			height: 0  					 
.m-news
	position: relative
	display: inline-block
	vertical-align: middle
	width: 454px
	height: 280px
	margin: 0 22px 
	padding: 50px 30px 30px 
	font-size: 12px
	text-decoration: none
	color: #fff
	+transition(color 300ms, background 300ms)
	z-index: 1
	+r(768)
		width: 100%
		margin: 0
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: -22px
		width: 1px 
		background: #7d7471
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 0
		background: #FFF
		z-index: -1
		+tr(height 300ms)  	 
	&:hover
		color: #000
		&:after
			height: 100% 
	&:first-child
		&:before
			display: none
	&.is-active
		.m-news__progress
			opacity: 1		
	& > .m-news
		height: 140px
		padding-top: 30px
		margin: 0 
		border-top: 1px solid #7d7471
		&:before
			display: none
		&:first-child
			border-top: none
		.m-news__title
			font-size: 22px  			 	 
	&__progress
		position: absolute
		top: 5px
		left: 50%
		+transform(translateX(-50%))
		font-size: 0
		opacity: 0 
		li
			display: inline-block
			vertical-align: middle
			margin: 0 3px
			width: 4px
			height: 4px
			border-radius: 50%
			background: #7c787b
			&.is-active
				background: #fff  
	&__title
		margin-bottom: 10px
		font-size: 30px
		+ksb
		text-transform: uppercase
	&__hint
		+fd
		font-size: 11px
		text-transform: uppercase	 	

// events
.events
	position: relative
	padding: 60px 0 45px
	+clr
	+r(768)
		padding-top: 20px
	&_border
		border-bottom: 1px solid $border 
		+r(768)
			border: 0
			padding-bottom: 0 
	&__group
		float: left
		width: 66.6%
		position: relative 
		+clr
		+r(1024)
			width: 100%
			float: none
			margin-bottom: 30px
		+r(768)
			margin-bottom: 0
		.events__item
			float: left
			display: block 
			height: 135px
			width: 50%
			border-top: 1px solid $blue
			border-left: 0
			border-right: 1px solid $blue
			+r(768)
				width: 100%
				border-right: 0
				height: auto
				border-color: $border 
			&:before,
			&:after
				content: ""
				position: absolute
				width: 17px
				height: 17px
				background: #fff
				z-index: 1 
				+r(768)
					display: none
			&:nth-child(2n)
				+r(1024)
					border-right: 0
			&:nth-child(1),
			&:nth-child(2)
				border-top: 0
			&:nth-child(1)
				&:before
					right: -1px
					bottom: -1px
			&:nth-child(2)
				+r(768)
					border-top: 1px solid $border 
				&:before
					right: -1px
					top: -1px
				&:after	
					right: 0
					bottom: -1px
			&:nth-child(3)
				&:before
					left: -1px
					bottom: -1px
			&:nth-child(4)
				&:before
					top: -1px
					left: -1px
	&__archive
		float: left
		width: 33.4% 
		+clr
		+r(1024)
			width: 100%
			float: none
		.events__item
			width: 100%
			height: 135px
			border: 0
			border-top: 1px solid $border
			display: block
			+r(1024)
				width: 50%
				float: left
				border-top: 0
				border-left: 1px solid $border
			+r(768)
				float: none
				width: 100%
				border: 0
				height: auto
			&:before
				content: ""
				position: absolute
				width: 17px
				height: 17px
				background: #fff
				z-index: 1
				+r(768)
					display: none
			&:first-child
				border: 0 
				+r(1024)
					border-left: 0
				+r(768)
					border-bottom: 1px solid $border
					border-top: 1px solid $border
				&:before
					left: 0
					bottom: -1px
		.events__title,
		.events__date
			color: #ccc 
	&__list
		font-size: 0
		display: table
		+r(768)
			display: block
	&__item
		display: table-cell
		position: relative 
		vertical-align: top
		width: 33.3%
		border-left: 1px solid $border
		+r(768)
			display: block
			width: 100%
			border-left: 0
		&:first-child
			border-left: none 			
		& > a
			//position: relative
			display: block
			padding: 25px 30px 
			text-decoration: none
			text-align: center
			text-transform: uppercase
			+tr(background 300ms)
			z-index: 1
			&:after
				content: ""
				position: absolute
				left: 50%
				top: 50%
				height: 100%
				width: 0
				opacity: 0
				background: $blue
				+transform(translateX(-50%) translateY(-50%))  
				+transition(all 300ms)
				will-change: transform
				z-index: 2  
			&:hover
				&:after
					opacity: 1 
					width: 100% 
				.events__title
					color: #fff
				.events__date
					color: #fff	
	&__title
		position: relative
		z-index: 3
		margin-bottom: 15px
		+ksb
		font-size: 22px
		color: #000
		+tr(color 300ms)
	&__date
		position: relative
		z-index: 3
		+fdi
		color: #09c5fb
		font-size: 11px
		+tr(color 300ms)				
// dates
.dates
	position: relative
	padding: 45px 20px 65px 
	background: url(../img/bg-pattern.jpg) 
	+r(768)
		padding-bottom: 45px 
	.task-example
		text-align: center
	&_dark
		padding: 45px 0 27px
		background: #171717
		color: #fff  
		.schedule
			&:before	
				opacity: 0.4
			&__title
				margin-bottom: 5px
				color: #fff 
			&__date
				background: #171717
			&__date-in
				background: #fff 
			.slick-dots
				button
					&:before
						color: rgba(#fff, .4) 
				.slick-active
					button
						&:before
							color: #fff
	&__in
		margin-bottom: 15px
	.h2
		margin-bottom: 15px 	
	.text-center
		margin: 48px 0 0
		.btn
			margin-bottom: 20px	
.categories
	margin-bottom: 35px
	font-size: 0
	text-align: center
	li
		position: relative
		display: inline-block
		vertical-align: middle
		padding: 15px 0 
		margin: 0 4.2%
		&:before
			content: ""
			position: absolute
			top: 50%
			left: -40px
			width: 4px
			height: 4px
			margin-top: -2px
			border-radius: 50%
			background: #0e0e0e
		&:first-child
			&:before
				display: none
		&.is-active
			border: 1px solid #0e0e0e
			border-width: 1px 0
			a
				&:before
					content: ""
					position: absolute
					top: -15px
					left: 0
					width: 100%
					height: 1px
					background: #000
					z-index: 1
				&:after
					content: ""	 
					position: absolute
					bottom: -15px
					left: 0
					width: 100%
					height: 1px
					background: #000
					z-index: 1			  
		a
			position: relative
			display: inline-block 
			+fdi
			font-size: 11px
			text-transform: uppercase
			text-decoration: none
			color: #0e0e0e
			span
				&:before
					color: #fff    
.schedule
	position: relative
	font-size: 0
	text-align: center
	.slick-dots
		bottom: -25px
		button
			&:before
				color: rgba(#000, 0.2)
		.slick-active
			button
				&:before
					color: #000
	&_width
		.schedule__item
			width: 33.3%
	&:before
		content: ""
		position: absolute
		top: 35px
		left: 0
		right: 0
		height: 3px
		background: url(../img/points.png) repeat-x
	&__item
		width: 25%
		display: inline-block
		vertical-align: top
		text-align: center
		&.is-current
			.schedule__date-in
				border-color: #000
				background: #000
				color: #fff
		&.is-passed
			.schedule__date-in
				border-color: #fff
			.schedule__title
				span
					&:before
						content: ""
						position: absolute
						top: 50%
						left: -16px
						right: -16px
						margin-top: -1px
						height: 1px
						background: #fff  		 
	&__date
		position: relative
		display: inline-block
		margin-bottom: 18px
		padding: 0 25px
		background: url(../img/bg-pattern.jpg)
		z-index: 2 
	&__date-in
		width: 72px
		height: 72px
		line-height: 72px
		border-radius: 50%
		border: 1px solid #000
		text-align: center
		font-size: 11px
		+fdi
		color: #000		
	&__title
		+ksb
		font-size: 16px
		text-transform: uppercase
		color: #212346
		span
			position: relative
			display: inline-block
	&__text
		font-size: 16px
		color: #fff 
// m-articles
.m-articles
	position: relative
	padding: 65px 0
.m-about
	float: left
	width: 66.6%
	padding-right: 5%
	+r(960)
		width: 50%
	+r(768)
		float: none
		padding: 0
		width: 100%
	.h2
		margin-bottom: 30px
.m-posts
	float: left
	width: 33.4%
	padding: 6px 0 0 
	+r(960)
		width: 50%
		padding-right: 65px
	+r(768)
		float: none
		padding: 0
		width: 100%
	&__item
		display: inline-block
		margin-top: 18px
		text-decoration: none
		color: #000
		&:first-child
			margin-top: 0
		+r(768)
			display: block
	&__date
		margin-bottom: 7px
		padding: 7px 0 
		position: relative
		display: inline-block
		+fdi
		text-transform: uppercase
		font-size: 11px
		color: $blue
		&:before
			content: "" 
			position: absolute
			left: 0
			right: 0
			top: 0
			height: 1px
			+transform(translateY(-5px))
			background: $blue
			opacity: 0 
			will-change: opacity transform
			+transition(opacity .3s, transform .3s)
		&:hover
			&:before
				+transform(translateY(0))
				opacity: 1

// directions
.directions
	padding: 50px 0 75px
	background: url(../img/img1.jpg)
	+cover
	+r(768)
		padding-bottom: 50px
	.h2
		margin-bottom: 10px   
	&__subtitle
		margin-bottom: 50px 
		text-align: center
		color: #a2a0a0
	&__list
		+clr
		+r(768)
			height: 125px
		.slick-list
			width: 100%
			+r(768)
				height: 125px
		.slick-track
			+r(768)
				height: 125px
			div
				float: left
				width: 25%
				height: 125px
				border-right: 1px solid #928e8c
				text-align: center
				+r(768)
					border-right: none
				&:first-child
					border-left: 1px solid #928e8c
				a
					position: relative
					display: block
					height: 125px
					+vertical
					text-transform: uppercase
					+ksb
					color: #fff
					+tr(color 300ms) 
					z-index: 1
					+r(768)
						color: #000 
					span
						display: inline-block
						vertical-align: middle
						font-size: 16px
					&:after
						content: ""
						position: absolute
						left: 50%
						top: 50%
						height: 100%
						width: 0
						opacity: 0
						background: #fff
						+transform(translateX(-50%) translateY(-50%))  
						+transition(all 300ms)
						will-change: transform
						z-index: -1  
						+r(768)
							width: 100%
							opacity: 1
					&:hover
						color: #000
						&:after
							opacity: 1 
							width: 100% 	
		.slick-dots
			+r(768)
				bottom: -32px		
// parthnres
.partners
	position: relative
	padding: 70px 0 25px
	+r(768)
		padding: 30px 0 	
	.partners__big
		+r(768)
			display: none
	.partners__small
		display: none
		+r(768)
			display: block
	&_all
		padding: 0		
	&_mod
		padding: 70px 0 55px  
		+r(768)
			padding: 30px 0 
		.partners__slider
			margin-bottom: 50px

	&__prev,
	&__next
		position: absolute
		top: 0
		bottom: 0
		width: 100px
		+r(768)
			display: none
	&__prev
		left: 0
		+gh(rgba(#fff,1), rgba(#fff,.2))
	&__next
		right: 0
		+gh(rgba(#fff,.2), rgba(#fff,1))
	.h2
		margin-bottom: 55px
	&__slider
		position: relative
		margin-bottom: 25px
	&__pager
		position: absolute
		top: -40px
		left: 50%
		+transform(translateX(-50%))
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			width: 4px
			height: 4px
			margin: 0 2px 
			border-radius: 50%
			background: #dfdfdf 
			cursor: pointer
			&.is-active
				background: #000
	&__list
		position: relative
	&__item
		display: table
		width: 100%
		border-collapse: collapse
	&__row
		display: table-row
		width: 100% 
	&__list-small
		.partners__logo
			width: 12.5%
	&__blocks
		border-top: 1px solid $border 
		font-size: 0
		text-align: center
		+r(768)
			border-top: none
		.partners__logo
			display: inline-block
			border-top: none
			margin-right: -1px 
			+r(960)
				width: 25%
			+r(768)
				width: 33%
				border-top: 1px solid $border 
			+r(480)
				margin-top: -1px
				width: 50%
	&__logo
		display: table-cell
		width: 16.6%
		vertical-align: middle
		text-align: center
		border: 1px solid #e2e2e2
		a
			display: block
			padding: 0 5px 
			height: 109px
			+vertical
		img
			display: inline-block !important
			max-width: 100%
			vertical-align: middle
	&__more
		text-align: center
		a
			display: inline-block
			padding: 5px 0 
			+fd
			text-transform: uppercase
			text-decoration: none
			color: $blue
			font-size: 11px
			&:after
				background: $blue
// share
.share
	padding: 45px 0
	background: #000
	+r(768)
		padding-bottom: 30px
	.h2
		margin-bottom: 30px
.socials
	text-align: center
	font-size: 0
	+r(768)
		position: relative
		padding-top: 73px
.vkcom, .facebook, .twitter, .subscribe
	display: inline-block
	vertical-align: middle
.vkcom, .facebook, .twitter	
	width: 56px
	height: 56px
	position: relative
	margin: 0 9px 
	+vertical
	border-radius: 50%
	text-align: center
	border: 1px solid #727272
	+transition(border .3s)
	overflow: hidden
	&:hover
		border-color: transparent
		&:after
			left: 0
			right: 0
	&:after
		content: ""
		position: absolute
		left: 50%
		right: 50%
		top: 0
		bottom: 0	
		background: #fff
		border-radius: 50% 
		+transition(all .3s)
	i
		position: relative
		display: inline-block
		vertical-align: middle
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			opacity: 0
			+tr(opacity 300ms)
			z-index: 1
.vkcom	
	i
		+s(vk)
		&:after
			+s(vk-black)
	&:hover
		i
			&:after
				opacity: 1	
.facebook	
	i
		+s(fb)
		&:after
			+s(fb-black)
	&:hover
		i
			&:after
				opacity: 1			 	 
.twitter
	i
		+s(tw)
		&:after
			+s(tw-black)
	&:hover
		i
			&:after
				opacity: 1
				
.subscribe
	position: relative
	margin-left: 37px
	+r(768)
		position: absolute
		top: 0
		left: 0
		right: 0
		margin-left: 0
	input[type="text"]
		width: 380px
		height: 42px
		padding-right: 25px
		background: transparent
		+fd
		font-size: 11px
		text-transform: uppercase
		color: #fff
		+r(768)
			width: 100%
			padding-right: 0
		+placeholder
			+fd
			font-size: 11px
			text-transform: uppercase
			color: #fff
		&:focus
			+placeholder
				font-size: 0	
.submit
	position: absolute
	top: 8px
	right: 0
	+s(pointer)
	z-index: 2
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(pointer-h)
		z-index: 2
		opacity: 0
		+tr(opacity 300ms)
	&:hover
		&:after
			opacity: 1 
.progressbar
	position: relative
	height: 1px 
	&__line
		height: 1px
		background: #fff
	&__progress
		position: absolute
		top: 0
		left: 0
		width: 0 
		height: 1px 
		background: $yellow
		z-index: 2
		
// footer
.footer
	+fd
	font-size: 11px 
	text-transform: uppercase
	+r(768)
		text-align: center
.copyrights
	float: left
	padding: 22px 0
	+r(768)
		float: none
		padding: 22px 0 10px
.design
	float: right
	font-size: 0
	padding: 22px 0
	+r(768)
		float: none
		padding: 10px 0 20px
	span, a
		display: inline-block
		vertical-align: middle
		font-size: 11px
.vintage
	position: relative
	margin-left: 18px
	width: 70px
	height: 15px 
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(vintage)
		opacity: 1
		+tr(opacity 300ms)
		z-index: 1
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(vintage-h)
		opacity: 0
		+tr(opacity 300ms)
		z-index: 1
	&:hover
		&:before
			opacity: 0 
		&:after
			opacity: 1
			
// cabinet
.cabinet
	.h1
		margin-bottom: 5px
	&__results
		font-size: 0
		text-align: center
		span, a
			display: inline-block
			vertical-align: middle
			+fd
			font-size: 11px 
			text-transform: uppercase
			color: #fff
		span
			+r(768)
				display: block
				margin-bottom: 10px
		a
			text-decoration: none
			position: relative
			display: inline-block
			color: $blue
			margin: 0 15px
			&:before
				content: "" 
				position: absolute
				left: 0
				right: 0
				height: 1px
				background: $blue
				will-change: transform, opacity
				+transform(translateY(-5px))
				opacity: 0
				+transition(transform .3s, opacity .3s)
			&:hover
				&:before
					+transform(translateY(0))
					opacity: 1

// test
.test
	padding: 45px 0
	text-align: center
	
// judge
.judge
	padding: 70px 0 75px
	border-top: 1px solid #e2e2e2
	+r(768)
		padding: 30px 0 
	&_contacts
		margin-bottom: 45px
		border-bottom: 1px solid #e2e2e2
		padding-bottom: 65px
	.h2
		margin-bottom: 20px  	 			 	
	&__about
		margin-bottom: 45px 
		text-align: center
	&__list
		font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 25%
		text-align: center
		+fdi
		+r(768)
			width: 50%
			padding: 0 20px 
			margin-bottom: 30px
		+r(480)
			width: 100%
			padding: 0
	&__photo
		position: relative
		display: inline-block
		max-width: 150px
		max-height: 150px
		margin-bottom: 32px
		border-radius: 50%
		overflow: hidden
		font-size: 0
		+r(768)
			margin-bottom: 15px
		img
			display: block
			width: 100%
			height: auto
			border-radius: 50%
	&__name
		font-size: 11px
		text-transform: uppercase
	&__info
		a, p
			font-size: 11px
			text-decoration: none
			color: $blue
			text-transform: uppercase

	
					







































































































































































































