// Normally mainpage styles
.header
	position: relative
	&__in
		padding: 180px 0 70px
		background-repeat: no-repeat
		background-size: cover
		background-position: 50% 0%
.subtitle
	text-align: center
	font-size: 14px
	text-transform: uppercase
	color: #fff
	+fd		
.topper
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 135px
	z-index: 2
.logo
	float: left
	font-size: 0
	padding-top: 23px 
	a
		display: inline-block
		+s(logo)		
.top-menu, .lang
	float: right
	height: 85px
	+vertical
	li
		display: inline-block
		vertical-align: middle
		margin-left: 22px
		a
			display: inline-block
			padding: 5px 0 
			text-decoration: none
			+fd
			color: #fff
			+tr(color 300ms)
			text-transform: uppercase
			font-size: 11px
			&.is-active
				color: #fbdc09
.lang
	position: relative
	margin-left: 22px
	&:after
		content: ""
		position: absolute
		top: 31px
		bottom: 31px
		left: 0
		width: 1px
		background: #7e7d7e
	li	
		a
			&.is-active
				color: $blue	 						
.menu
	ul
		+clr
		li
			position: relative
			float: left
			width: 16.1%
			height: 50px
			margin-right: 1px
			text-align: center
			&:before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				right: -1px
				width: 1px
				background: #464344  
			a
				display: block
				position: relative
				height: 50px
				line-height: 50px  
				+fd
				text-decoration: none
				text-transform: uppercase
				background: #fff 
				font-size: 11px
				color: #000
				+tr(all 300ms)
				z-index: 1
				&:after
					content: ""
					position: absolute
					top: 0
					left: 0
					width: 100% 
					height: 0
					background: #000
					+tr(height 300ms)
					z-index: -1  
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					right: 0
					left: 0
					border: 1px solid #fff
					opacity: 0 
					+tr(opacity 300ms) 
				&:hover
					color: #fff
					&:after
						height: 100% 
					&:before
						opacity: 1
				&.is-active
					background: #202020
					color: #fff		  
			&.login
				width: 18.7%
				&:before
					display: none  
				a
					background: $yellow
					&:before
						border-color: $yellow
					&:hover
						color: $yellow
					&.is-active
						background: #000
						color: #fff	

// slider
.slider
	position: relative
	&__img
		font-size: 0
		img
			width: 100% 			
			height: auto
	&__in
		position: absolute
		top: 135px
		bottom: 0
		right: 0
		left: 0
		+vertical
		z-index: 2
		+r(1024)
			display: none
	&__item
		position: relative
	&__bg
		font-size: 0
		img
			width: 100%
	&__content
		position: absolute
		top: 135px
		bottom: 0
		right: 0
		left: 0
		+vertical
		display: none
		+r(1024)
			display: block
		+r(768)
			top: 0	
		.m-news
			&:hover
				color: #fff
				&:after
					height: 0
			+r(900)
				padding: 30px 30px 0
				height: auto 
				.m-news__title
					font-size: 22px							
.m-news-list
	display: inline-block
	vertical-align: middle
	text-align: center
div.m-news
	padding: 0
	&:hover
		color: #fff
		&:after
			height: 0  					 
.m-news
	position: relative
	display: inline-block
	vertical-align: middle
	width: 454px
	height: 280px
	margin: 0 22px 
	padding: 50px 30px 30px 
	font-size: 12px
	text-decoration: none
	color: #fff
	+transition(color 300ms, background 300ms)
	z-index: 1
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: -22px
		width: 1px 
		background: #7d7471
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 0
		background: #FFF
		z-index: -1
		+tr(height 300ms)  	 
	&:hover
		color: #000
		&:after
			height: 100% 
	&:first-child
		&:before
			display: none
	&.is-active
		.m-news__progress
			opacity: 1		
	& > .m-news
		height: 140px
		padding-top: 30px
		margin: 0 
		border-top: 1px solid #7d7471
		&:before
			display: none
		&:first-child
			border-top: none
		.m-news__title
			font-size: 22px  			 	 
	&__progress
		position: absolute
		top: 5px
		left: 50%
		+transform(translateX(-50%))
		font-size: 0
		opacity: 0 
		li
			display: inline-block
			vertical-align: middle
			margin: 0 3px
			width: 4px
			height: 4px
			border-radius: 50%
			background: #7c787b
			&.is-active
				background: #fff  
	&__title
		margin-bottom: 10px
		font-size: 30px
		+ksb
		text-transform: uppercase
	&__hint
		+fd
		font-size: 11px
		text-transform: uppercase	 	

// events
.events
	position: relative
	padding: 59px 0 46px
	&__list
		font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 33.3%
		border-left: 1px solid #e6e6e7
		&:first-child
			border-left: none 			
		& > a
			position: relative
			display: block
			padding: 25px 30px 
			text-decoration: none
			text-align: center
			text-transform: uppercase
			+tr(background 300ms)
			z-index: 1
			&:after
				content: ""
				position: absolute
				left: 50%
				top: 50%
				height: 100%
				width: 0
				opacity: 0
				background: $blue
				+transform(translateX(-50%) translateY(-50%))  
				+transition(all 300ms)
				will-change: transform
				z-index: -1  
			&:hover
				&:after
					opacity: 1 
					width: 100% 
				.events__title
					color: #fff
				.events__date
					color: #fff	
	&__title
		margin-bottom: 15px
		+ksb
		font-size: 22px
		color: #000
		+tr(color 300ms)
	&__date
		+fdi
		color: #09c5fb
		font-size: 11px
		+tr(color 300ms)				
// dates
.dates
	position: relative
	padding: 45px 0 65px 
	background: url(../img/bg-pattern.jpg)  
	&__in
		margin-bottom: 15px
	.h2
		margin-bottom: 15px 		
.categories
	margin-bottom: 35px
	font-size: 0
	text-align: center
	li
		position: relative
		display: inline-block
		vertical-align: middle
		padding: 15px 0 
		margin: 0 4.2%
		&:before
			content: ""
			position: absolute
			top: 50%
			left: -40px
			width: 4px
			height: 4px
			margin-top: -2px
			border-radius: 50%
			background: #0e0e0e
		&:first-child
			&:before
				display: none
		&.is-active
			border: 1px solid #0e0e0e
			border-width: 1px 0
			a
				&:before
					content: ""
					position: absolute
					top: -15px
					left: 0
					width: 100%
					height: 1px
					background: #000
					z-index: 1
				&:after
					content: ""	 
					position: absolute
					bottom: -15px
					left: 0
					width: 100%
					height: 1px
					background: #000
					z-index: 1			  
		a
			position: relative
			display: inline-block 
			+fdi
			font-size: 11px
			text-transform: uppercase
			text-decoration: none
			color: #0e0e0e
			span
				&:before
					color: #fff    
.schedule
	position: relative
	font-size: 0
	text-align: center
	&:before
		content: ""
		position: absolute
		top: 35px
		left: 0
		right: 0
		height: 3px
		background: url(../img/points.png) repeat-x
	&__item
		width: 25%
		display: inline-block
		vertical-align: top
		text-align: center
		&.is-current
			.schedule__date-in
				border-color: #000
				background: #000
				color: #fff
		&.is-passed
			.schedule__date-in
				border-color: #fff
			.schedule__title
				span
					&:before
						content: ""
						position: absolute
						top: 50%
						left: -16px
						right: -16px
						margin-top: -1px
						height: 1px
						background: #fff  		 
	&__date
		position: relative
		display: inline-block
		margin-bottom: 18px
		padding: 0 25px
		background: url(../img/bg-pattern.jpg)
		z-index: 2 
	&__date-in
		width: 72px
		height: 72px
		line-height: 72px
		border-radius: 50%
		border: 1px solid #000
		text-align: center
		font-size: 11px
		+fdi
		color: #000		
	&__title
		+ksb
		font-size: 16px
		text-transform: uppercase
		color: #212346
		span
			position: relative
			display: inline-block

// m-articles
.m-articles
	position: relative
	padding: 65px 0
	&__more

.m-about
	float: left
	width: 66.6%
	padding-right: 5%
	.h2
		margin-bottom: 30px
.m-posts
	float: left
	width: 33.4%
	padding: 13px 0 0 
	&__item
		display: inline-block
		margin-top: 25px
		text-decoration: none
		color: #171717
		&:first-child
			margin-top: 0
	&__date
		margin-bottom: 15px
		+fdi
		text-transform: uppercase
		font-size: 11px
		color: $blue

// directions
.directions
	padding: 50px 0 75px
	background: url(../img/img1.jpg)
	+cover
	.h2
		margin-bottom: 10px   
	&__subtitle
		margin-bottom: 50px 
		text-align: center
		color: #a2a0a0
	&__list
		+clr
		li
			float: left
			width: 25%
			height: 125px
			border-right: 1px solid #928e8c
			text-align: center
			&:first-child
				border-left: 1px solid #928e8c
			a
				position: relative
				display: block
				height: 125px
				+vertical
				text-transform: uppercase
				+ksb
				color: #fff
				+tr(color 300ms) 
				z-index: 1
				span
					display: inline-block
					vertical-align: middle
					font-size: 16px
				&:after
					content: ""
					position: absolute
					left: 50%
					top: 50%
					height: 100%
					width: 0
					opacity: 0
					background: #fff
					+transform(translateX(-50%) translateY(-50%))  
					+transition(all 300ms)
					will-change: transform
					z-index: -1  
				&:hover
					color: #000
					&:after
						opacity: 1 
						width: 100% 	
					
// parthnres
.parthners
	position: relative
	padding: 70px 0 25px						
	.h2
		margin-bottom: 55px
	&__slider
		position: relative
		margin-bottom: 25px
	&__pager
		position: absolute
		top: -40px
		left: 50%
		+transform(translateX(-50%))
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			width: 4px
			height: 4px
			margin: 0 2px 
			border-radius: 50%
			background: #dfdfdf 
			cursor: pointer
			&.is-active
				background: #000
	&__list
		position: relative
	&__item
		display: table
		width: 100%
		border-collapse: collapse
	&__row
		display: table-row
		width: 100% 
	&__logo
		display: table-cell
		width: 16.6%
		height: 109px
		vertical-align: middle
		text-align: center
		border: 1px solid #e2e2e2
		img
			display: inline-block!important
	&__more
		text-align: center
		a
			display: inline-block
			padding: 5px 0 
			+fd
			text-transform: uppercase
			text-decoration: none
			color: $blue
			font-size: 11px
			&:after
				background: $blue 	  			 

// share
.share
	padding: 45px 0
	background: #000
	.h2
		margin-bottom: 30px
.socials
	text-align: center
	font-size: 0
.vkcom, .facebook, .twitter, .subscribe
	display: inline-block
	vertical-align: middle
.vkcom, .facebook, .twitter	
	width: 56px
	height: 56px
	margin: 0 9px 
	+vertical
	border-radius: 50%
	text-align: center
	border: 1px solid #727272
	+transition(background 300ms, border-color 300ms)
	&:hover
		background: #fff
		border-color: #fff
	i
		position: relative
		display: inline-block
		vertical-align: middle
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			opacity: 0
			+tr(opacity 300ms)
			z-index: 1
.vkcom	
	i
		+s(vk)
		&:after
			+s(vk-black)
	&:hover
		i
			&:after
				opacity: 1	
.facebook	
	i
		+s(fb)
		&:after
			+s(fb-black)
	&:hover
		i
			&:after
				opacity: 1			 	 
.twitter
	i
		+s(tw)
		&:after
			+s(tw-black)
	&:hover
		i
			&:after
				opacity: 1
				
.subscribe
	position: relative
	margin-left: 37px
	input[type="text"]
		width: 380px
		height: 42px
		padding-right: 25px
		background: transparent
		+fd
		font-size: 11px
		text-transform: uppercase
		color: #fff
		+placeholder
			+fd
			font-size: 11px
			text-transform: uppercase
			color: #fff
		&:focus
			+placeholder
				font-size: 0	
.submit
	position: absolute
	top: 8px
	right: 0
	+s(pointer)
	z-index: 2
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(pointer-h)
		z-index: 2
		opacity: 0
		+tr(opacity 300ms)
	&:hover
		&:after
			opacity: 1 
.progressbar
	position: relative
	height: 1px 
	&__line
		height: 1px
		background: #fff
	&__progress
		position: absolute
		top: 0
		left: 0
		width: 0 
		height: 1px 
		background: $yellow
		z-index: 2
		
// footer
.footer
	+fd
	font-size: 11px 
	text-transform: uppercase
.copyrights
	float: left
	padding: 22px 0
.design
	float: right
	font-size: 0
	padding: 22px 0
	span, a
		display: inline-block
		vertical-align: middle
		font-size: 11px
.vintage
	position: relative
	margin-left: 18px
	width: 70px
	height: 15px 
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(vintage)
		opacity: 1
		+tr(opacity 300ms)
		z-index: 1
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(vintage-h)
		opacity: 0
		+tr(opacity 300ms)
		z-index: 1
	&:hover
		&:before
			opacity: 0 
		&:after
			opacity: 1
			
// cabinet
.cabinet
	.h1
		margin-bottom: 5px
	&__results
		font-size: 0
		text-align: center
		span, a
			display: inline-block
			vertical-align: middle
			+fd
			font-size: 11px 
			text-transform: uppercase
			color: #fff
		a
			text-decoration: none
			color: $blue
			margin: 0 15px
			
// test
.test
	padding: 45px 0
	text-align: center
	
// judge
.judge
	padding: 70px 0 75px
	border-top: 1px solid #e2e2e2
	.h2
		margin-bottom: 20px  	 			 	
	&__about
		margin-bottom: 45px 
		text-align: center
	&__list
		font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 25%
		text-align: center
		+fdi
	&__photo
		position: relative
		display: inline-block
		width: 150px
		height: 150px
		margin-bottom: 32px
		border-radius: 50%
		overflow: hidden
		font-size: 0
		img
			border-radius: 50%
	&__name
		margin-bottom: 3px
		font-size: 11px
		text-transform: uppercase
	&__info
		a, p
			font-size: 11px
			text-decoration: none
			color: $blue
			text-transform: uppercase

	
					







































































































































































































